<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Create link</h1>
<form method="post" action="/createlink">

    <label for="orig_link">Original link</label>
    <input type="text" id="orig_link" name="orig_link" placeholder="place here your link" required>
    <br>

    <label for="nice_link">Nice link</label>
    <input type="text" id="nice_link" name="nice_link" placeholder="place here your nice link" required>
    <br>

    <label for="owner_name">Owner name</label>
    <input type="text" id="owner_name" name="owner_name" placeholder="owner username" required>
    <br>

    <button type="submit">Save</button>
</form>
</body>
</html>